streamlit==1.42.2

numpy==2.2.6
scipy==1.15.3
pandas==2.2.3
xarray==2025.1.2
cfgrib==0.9.15.0
eccodes==2.39.0
ecmwf-opendata==0.3.19

matplotlib==3.10.3
cartopy==0.24.1
shapely==2.0.7
pyproj==3.7.1
Pillow==11.1.0

requests==2.32.3
skyfield==1.49
sgp4==2.24

google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
